[submodule "example-addon"]
	path = example-addon
	url = https://github.com/helix-git/ha-example-addon.git
[submodule "octodns-gui"]
	path = octodns-gui
	url = https://github.com/helix-git/haos-octodns-gui.git
[submodule "haos-abs"]
	path = haos-abs
	url = https://github.com/helix-git/haos-abs.git
